body, html {
  height: 98vh;
  padding: 0;
  /*font-family: "Segoe Script", sans-serif;*/
  font-family: "Segoe UI", sans-serif;
}


.bg {
  background-image: url('/images/JapanZenGarden.jpg');
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
}

.bg {
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  font-family: "Segoe Script", sans-serif;
  font-size: 3em;
  margin-top: 1em
}

#buttons{
  margin-left: 10%;
  border:1px solid red
}
.est-btn {
  border-radius: 6px;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  background-color: #fff9;
  padding:10px 15px;
  font-size: 1.2em;
}
.est-btn.active-btn {
    background-color: #ffff;
}
.est-btn.sealed-btn {
    background-color: #666f;
}


#estimations {
    display: block;
    //float: right;
    width: 25%;
    min-width: 150px;
    border: 1px solid black;
    padding: 1em;
    border-radius: 4px;
    background-color: #fffb;
    //height: 60px;
    margin-top:6%;
    font-weight: bold;
}

#est-stats{
    font-size: 0.9em;
    padding: 0em 1em;
    margin-bottom: 1.75em;
}
#est-results{
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 1em;
    padding-top: 0;}
#est-results ul{
    list-style: none;
    padding:0;
    margin:0;

    padding-left: 1em
}

.est-btn {
  transition-duration: 0.4s;
}
.est-btn:hover {
  background-color: #777;
}

#output {
    display: block;
    width: 60%}
#output {visibility:hidden}


/* parent-selector */
div#hinweise {
    float:right;
    position:absolute; /* damit's zum Hintergrundbild passt*/
    /* Oder: unten rechts positionieren...
    bottom: 15px;
    left: 750px;
    width: 70em;
    font-size: 0.8em;*/
    top: 255px;
    left: 750px;
    width: 38em;
    /*right:20px;
    width: 35em;*/
    max-width: 50%;
    background-color: #fffb;
    border-radius: 4px;
    border: 1px solid black;
}
div#hinweise h2{
margin-left:1em;
margin-bottom:-0.5em;
    font-family: "Segoe Script", sans-serif;
}
div#hinweise ul {
    margin-left: 1em;
    padding: 1em 2em;
    font-family: "Segoe UI", sans-serif;
}
div#hinweise ul li{margin-bottom:0.5em}
#hinweise ul li em {font-weight: bold;}
/*#hinweise dt:after {content: "=>"}*/
#hinweise dl{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: visible;
}
#hinweise dt {
  flex: 0 0 35%;
  text-overflow: ellipsis;
  overflow: hidden;
}
#hinweise dd {
  flex: 0 0 65%;
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom:0.5em;
}

